@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Oswald", sans-serif;
  background: url(/static/whiteCoffee.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--main-color);
  height: 100vh;
  overflow-y: scroll;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* 
.glass {
  display: block;
  width: fit-content; 
  background: rgba(177, 3, 3, 0.75);
  border-radius: 1rem;
  backdrop-filter: blur(20px);
  transition: 0.4s ease-in-out;
  overflow: hidden;
}

.glass:hover {
  background: rgba(177, 3, 3, 9);
} */

:root {
  --main-color: #333333;
  --secondary-color: #ffffff;
  --accent: rgb(177, 3, 3);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --main-color: #ffffff;
    --secondary-color: #333333;
    --accent: rgb(177, 3, 3);
  }
} */
